.container-main {
  font-family: "Oswald", sans-serif;
  background-image: linear-gradient(
      to bottom,
      rgba(122, 122, 122, 0.03) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("../../assets/img/bg-masthead.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 120vh;
  margin-top: -60px;
}
.container-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80%;
  color: linear-gradient(
    to bottom,
    rgb(255, 255, 255, 0.5) 0%,
    rgb(43, 43, 43) 100%
  );
}
.container-tittle,
h1 {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(45, 45, 45, 0.6) 100%
  );
  font-weight: 700;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 4em;
  padding-bottom: 0.5em;
}
h2 {
  font-size: 2em;
  color: whitesmoke;
  font-family: "Nunito", sans-serif;
}

.btn {
  font-family: "Nunito", sans-serif;
  background-color: #b7b7a4;
  border: 1px solid #b7b7a4;
  border-radius: 5px;
  color: whitesmoke;
  font-size: 1em;
  font-weight: 400;
  padding: 1em 3em;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-top: 1em;
}
